/* style of the grid to be 3 by 3.*/

.title{
    color:goldenrod;
    text-align: center;
    font-size: 50px;
}
.gridContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
    padding: 50px;
    margin: 50px

}
.tiles{
    border: solid black;
    display: flex;
}
#box1,#box2,#box3{
    border-top: none;
}
#box1, #box4, #box7{
    border-left: none;
}
#box7, #box8, #box9{
    border-bottom:none;
}
#box3, #box6, #box9{
    border-right: none;
}
.writeX, .writeX2, .writeX3, .writeX4,.writeX5,.writeX6,.writeX7,.writeX8,.writeX9{
    display:none;
}
.writeO,.writeO2,.writeO3,.writeO4,.writeO5,.writeO6,.writeO7,.writeO8,.writeO9{
    display:none;
}
.initiateX{
    display: unset ;
}
.initiateO{
    display: unset;
}
.winTag{
    display:flex;
    justify-content: space-between 10px;
    text-align: center;
}
.btnx,.btno{
    text-align: center;
    display: inline-block;
    font-size:20px;
}
/* hide the image of x and O in the grid behind a blank box?*/